@charset "UTF-8";
body {
    font-family: "Courier New", sans-serif;
}
body a {
    text-decoration: none;
}
body a:visited, body a:active, body a:link {
    color: #157640;
}
body a:hover {
    color: #3cb371;
}

.active {
    font-weight: bold;
}

.header {
    background-color: white;
    color: black;
    text-align: center;
}
.header a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}
.header a:visited, .header a:link {
    color: black;
}
.header a:hover {
    color: #3cb371;
}

.section {
    width: device-width;
    max-width: 700px;
    float: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
}

table {
    border-spacing: 8px 0px;
}

ul {
    list-style-type: lower-greek;
    padding-left: 20px;
}

ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    width: device-width;
    max-width: 600px;
    float: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    background-color: white;
    color: black;
    text-align: center;
}
