@charset "UTF-8";
body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #31363b;
    color: #eff0f1;
    font-size: 1em;
}
body a {
    text-decoration: none;
}
.tags {
    padding-top: 1em;
}
.section a:visited {
    color: #7f8c8d;
}
.section a:link {
    color: #3daee9;
}
.section a:hover {
    color: #2980b9;
}
.section a:active {
    color: #3daee9;
}

img {
    max-width: 45ch;
    width: 100%;
    margin: auto;
}

figure {
    display: block;
    text-align: center;
}

figcaption {
    font-weight: bold;
}

.section h1 { font-size: 1.5em; }
.section h2 { font-size: 1.35em; }
.section h3 { font-size: 1.2em; }

.active {
    font-weight: bold;
}

.header {
    padding-top: 1em;
    text-align: center;
}

.header h1 {
    font-size: 2em;
}

.header a {
    margin-left: 1ch;
    margin-right: 1ch;
    font-size: 1.75em;
}
.header a:link, a:visited {
    color: #eff0f1;
}
.header a:hover {
    color: #2980b9;
}
.header a:active {
    color: #3daee9;
}

.postHeader {
    text-align: center;
}
.postHeader h1 { font-size: 1.5em; }

.section {
    width: device-width;
    max-width: 81ch;
    float: center;
    padding-top: none;
    padding-bottom: none;
    padding-left: 1ch;
    padding-right: 1ch;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
}

ul {
    list-style-type: lower-greek;
}

ul li {
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
}

.footer {
    width: device-width;
    max-width: 60ch;
    float: center;
    padding-left: 1ch;
    padding-right: 1ch;
    margin: auto;
    text-align: center;
}
.footer a:visited {
    color: #3daee9;
}
.footer a:link {
    color: #3daee9;
}
.footer a:hover {
    color: #2980b9;
}
.footer a:active {
    color: #3daee9;
}
